.btn_action{
    position: relative;
    overflow: hidden;
    border-radius: 32px;

    background: linear-gradient( 90deg, rgb(115,87,49) 0%, rgb(230,225,157) 100%);

    &__inside{
        display: block;
        padding: 16px 36px;
        margin: 2px;
        border-radius: 32px;

        text-transform: uppercase;
        color: $white;

        background-color: $body-color;

        transition: 0.4s;
    }

    &:hover, &:focus{
        .btn_action__inside{
            background-color: rgba(25,26,30,0.8);
        }
    }
}