.btn{
    outline: none;
    box-shadow: none;
    border:none;

    &:hover, &:focus{
        outline: none;
        box-shadow: none;
        border:none;
        text-decoration: none;        
    }

    &__inside{
        position: relative;
        z-index: 2;
    }
}

.btn-container{
    padding-left: 0;
    padding-right: 0;
}
.btn-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: -($spacer/2);
    margin-right: -($spacer/2);

    &__item{
        padding: $spacer/4 $spacer/2;
    }
}