.btn_icon{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 48px;
    overflow: hidden;

    &__content{
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 14px 30px;

        font-size: map-get($map: $font-size, $key: md);
        line-height: map-get($map: $font-size, $key: xl);
        font-weight: $font-weight-bold;

        color: $white;
        background-color: $border-color;

        transition: .4s;
    }
    &__img{
        display: inline-block;
        padding: 10px 4px;
        height: 48px;
        background-color: lighten($color: $border-color, $amount: 4);
        path{
            fill: $white;
        }
    }

    &:hover, &:focus{
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .1), 0 0 0 5px rgba(255, 255, 255, .07), 0 0 0 9px rgba(255, 255, 255, .05);
        .btn_icon__content{
            background-color: lighten($color: $border-color, $amount: 8);
            // color: $dark-grey;
            // background-color: $grey;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn_icon{
        &__content{
            font-size: map-get($map: $font-size, $key: sm);
            line-height: map-get($map: $font-size, $key: md);
            padding: 8px 20px;
        }
    }
}