.slider_gallery{
    // padding: 0 30px;
    .slick-list{
        margin: 0 30px;
    }
    &__item{
        padding: $spacer 0;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider_gallery{
        padding: 0;
    }
}