
.slider_line{
    .slick-list{
        padding: 0 180px;
    }
    &__item{
        margin: $spacer/3 $spacer/6;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_line{
        .slick-list{
            padding: 0 $spacer/2;
        }
    }
}