.slider_stats{

    overflow: visible;
    max-width: 640px;
    margin-left: calc(50% - 320px);

    .slick-list{
        overflow: visible;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
    }

    &__item{
        margin: 0;
        text-align: center;
        padding: 90px 120px;
        width: 100%;
        max-width: 640px;
        transition: .4s;

        &:not(.slick-active){
            filter: grayscale(1) brightness(.5) opacity(0.5);
        }
    }
    &__value{
        color: $light-grey;
        font-size: 150px;
        font-weight: bold;
        line-height: 120px;
    }
    &__offer{
        color: $light-grey;
        width: 240px;
        max-width: 100%;
        margin: 15px auto;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider_stats{
        max-width: 520px;
        margin-left: calc(50% - 260px);

        &__item{
            padding: 45px 30px;
            max-width: 520px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider_stats{
        max-width: 440px;
        margin-left: calc(50% - 220px);

        &__item{
            padding: 45px 30px;
            max-width: 440px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider_stats{
        max-width: 360px;
        margin-left: calc(50% - 180px);

        &__item{
            padding: 30px;
            max-width: 360px;
        }
        &__value{
            font-size: 120px;
            line-height: 120px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_stats{
        max-width: 260px;
        margin-left: calc(50% - 130px);

        &__item{
            padding: 30px 15px;
            max-width: 260px;
        }
        &__value{
            font-size: 80px;
            line-height: 80px;
        }
    }
}