footer.footer
    .container.bg-lines.pt-3.pb-3.pt-sm-1.pb-sm-1
        .row
            .col-3.col-xs-12.col-sm-6.mb-sm-1
                nav.nav.nav_footer
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Лифты
                    .nav__item
                        a.nav_footer__subtitle(href="#") Коттеджные
                    .nav__item
                        a.nav_footer__subtitle(href="#") Без машинного помещения
                    .nav__item
                        a.nav_footer__subtitle(href="#") Панорамные
                    .nav__item
                        a.nav_footer__subtitle(href="#") Энергосберегающие
                    .nav__item
                        a.nav_footer__subtitle(href="#") Для многоквартирных домов
                    .nav__item
                        a.nav_footer__subtitle(href="#") Для торговых центров
                    .nav__item
                        a.nav_footer__subtitle(href="#") Больничные
                    .nav__item
                        a.nav_footer__subtitle(href="#") Инвалидные
                    .nav__item
                        a.nav_footer__subtitle(href="#") Грузовые автомобильные
                    .nav__item
                        a.nav_footer__subtitle(href="#") Грузовые для кафе и ресторанов
            .col-3.col-xs-12.col-sm-6.mb-sm-1
                nav.nav.nav_footer
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Подъемники
                    .nav__item
                        a.nav_footer__subtitle(href="#") Платформы для инвалидов
                    .nav__item
                        a.nav_footer__subtitle(href="#") Подъемник в бассейн
                    .nav__item
                        a.nav_footer__subtitle(href="#") Эскалатор
                    .nav__item
                        a.nav_footer__subtitle(href="#") Роторная парковка
                    .nav__item
                        a.nav_footer__subtitle(href="#") Строительные подъемники
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Запчасти
            .col-3.col-xs-12.mb-xs-1.col-sm-6
                nav.nav.nav_footer
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Услуги
                    .nav__item
                        a.nav_footer__subtitle(href="#") Проектирование
                    .nav__item
                        a.nav_footer__subtitle(href="#") Монтаж
                    .nav__item
                        a.nav_footer__subtitle(href="#") Пусконаладочные работы
                    .nav__item
                        a.nav_footer__subtitle(href="#") Консультации
                    .nav__item
                        a.nav_footer__subtitle(href="#") Строительство лифтовых шахт
                    .nav__item
                        a.nav_footer__subtitle(href="#") Демонтаж
                    .nav__item
                        a.nav_footer__subtitle(href="#") Регистрация лифтов
                    .nav__item
                        a.nav_footer__subtitle(href="#") Капитальный реонт и замена
                    .nav__item
                        a.nav_footer__subtitle(href="#") Лизинг
            .col-3.col-xs-12.col-sm-6
                nav.nav.nav_footer
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Документы
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") О компании
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Отзывы
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Проекты
                    .nav__item.nav__item_group
                        a.nav_footer__title(href="#") Контакты
.subfooter
    .container
        .row
            .col-4.col-sm-12.text-sm-center
                p.subfooter__text © 2005-2020. Все права защищены.
            .col-4.text-center.col-sm-12
                p.subfooter__text Могилевлифт - поставки лифтов, подъемников, запчастей.
            .col-4.text-right.col-sm-12.text-sm-center
                p.subfooter__text Сайт разработан 
                    a.subfooter__link(href="https://websoho.ru") студией «SOHO»