header.header
    .header__element
    .navbar-overlay
    .container
        .row.align-items-center
            .col-2.col-xs-8.col-md-7.d-flex.align-items-center
                a.navbar-toggle#nav(data-trigger="click")
                a.logo.logo_header(href="index.html") 
                    span.logo__intro С нами путь быстрее!
            .col-8.navbar-collapse
                .navbar-close
                .nav.nav_secondary
                    a.nav_secondary__item(href="#") Документы
                    a.nav_secondary__item(href="#") О компании
                    a.nav_secondary__item.nav_secondary__item--active(href="#") Проекты
                    a.nav_secondary__item(href="#") Контакты
                    a.nav_secondary__item(href="#" data-status="search") Поиск
                .nav.nav_header
                    .nav_header__parent.nav__parent
                        a.nav__link.nav_header__item.nav_header__item--active(href="#" data-nav="#nav1") Лифты
                        .nav__children#nav1
                            .nav__children-col
                                a.nav__children-title(href="product.html") Пассажирские лифты
                                a.nav__children-item(href="product.html") С машинным помещением
                                a.nav__children-item(href="product.html") Без машинного помещения
                                a.nav__children-item(href="product.html") Коттеджные
                                a.nav__children-item(href="product.html") Панорамные
                                a.nav__children-item(href="product.html") Для маломобильных групп населения
                            .nav__children-col
                                a.nav__children-title(href="product.html") Грузовые лифты
                                a.nav__children-item(href="product.html") С верхним машинным помещением
                                a.nav__children-item(href="product.html") С нижним машинным помещением
                                a.nav__children-item(href="product.html") Малые грузовые лифты
                                a.nav__children-item(href="product.html") Без машинного помещения
                            .nav__children-col
                                a.nav__children-title(href="product.html") Больничные лифты
                                a.nav__children-item(href="product.html") С автоматическими дверями
                                a.nav__children-item(href="product.html") С дверями ручного открывания
                                a.nav__children-item(href="product.html") Без машинного помещения
                    .nav_header__parent.nav__parent
                        a.nav__link.nav_header__item(href="#" data-nav="#nav2") Эскалаторы
                        .nav__children#nav2
                            .nav__children-col
                                a.nav__children-title(href="product.html") Пассажирские лифты
                                a.nav__children-item(href="product.html") С машинным помещением
                                a.nav__children-item(href="product.html") Без машинного помещения
                                a.nav__children-item(href="product.html") Коттеджные
                                a.nav__children-item(href="product.html") Панорамные
                                a.nav__children-item(href="product.html") Для маломобильных групп населения
                            .nav__children-col
                                a.nav__children-title(href="product.html") Грузовые лифты
                                a.nav__children-item(href="product.html") С верхним машинным помещением
                                a.nav__children-item(href="product.html") С нижним машинным помещением
                    a.nav_header__item(href="#") Подъемники
                    a.nav_header__item(href="#") Услуги
                    a.nav_header__item(href="#") Запчасти
                    a.nav_header__item(href="#" data-status="action") Расчёт лифта
                .d-none.d-md-block.navbar-collapse__contact
                    a.header__phone.d-md-block(href="8 812 214 55 00") 8 812 214 55 00 
                    a.link.header__link.d-md-block(data-fancybox="modal" data-src="#callback" href="javascript:;") заказать звонок
                    a.header__email.d-md-block(href="mailto:info@mogilevlift.ru") info@mogilevlift.ru
            .col-2.col-xs-4.col-md-5.text-right
                a.header__phone.d-xs-none(href="tel:8 812 214 55 00") 8 812 214 55 00 
                a.link.header__link.d-md-none(data-fancybox="" data-src="#callback" href="javascript:;") заказать звонок
                a.header__email.d-md-none(href="mailto:info@mogilevlift.ru") info@mogilevlift.ru
                //- a.btn.btn_action.header__btn(href="#") 
                //-     span.btn_action__inside Расчёт 
                //-         span.d-xs-none.d-md-inline.d-lg-none лифта
a.scrollTop#scrollTop(href="#" data-trigger="click")
.modal#callback
    p.h3 Наш менеджер свяжется с вами!
    form.form(action="")
        input.form__input.input.input--full.phone.error(type="text" placeholder="Контактный телефон")
        .form-validation.error Обязательно для заполнения
        input.form__input.input.input--full(type="text" placeholder="Имя")
        input.form__input.form__input_file(type="file" name="file" id="file")
        button.btn.btn_secondary.form__btn 
            span.btn__inside Оставить заявку
        .form__agree.checkbox
            input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
            label.checkbox__label(for="agree") согласен с 
                a.link-underline(href="/policy.pdf" target="_blank") обработкой персональных данных