.stats_icon{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &__image{
        flex: 0 0 80px;
        max-width: 80px;
        margin-bottom: $spacer/2;

        .img-fluid{
            height: 44px;
            margin-left: 0;
        }
    }
    &__title{
        font-size: 64px;
        font-weight: $font-weight-bold;
        line-height: 44px;

        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);

        margin-bottom: $spacer/2;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .stats_icon{
        &__image{
            flex: 0 0 40px;
            max-width: 40px;
            .img-fluid{
                height: 30px;
            }
        }
        &__title{
            flex: 0 0 calc(100% - 40px);
            max-width: calc(100% - 40px);
            font-size: 30px;
            line-height: 30px;
        }
    }
}