.stats{
    &__title{
        font-size: 26px;
        font-weight: $font-weight-bold;
        margin-bottom: $spacer/3;
    }
    &__content{
        font-weight: 300;
        line-height: 1.2;
        color: $light-grey;
        width: 220px;
        max-width: 100%;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .stats{
        &__title{
            font-size: 20px;
        }
    }
}