.content-header{
    border-bottom: 1px solid $border-color;

    &__title{
        margin-top: 0;
        margin-bottom: 0;

        @extend .heading;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .content-header{
        @extend .pt-xl-2;
        @extend .pb-xl-2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content-header{
        @extend .pt-sm-1;
        @extend .pb-sm-1;
    }
}