.header{
    padding: $spacer/2 0;
    border-bottom: 1px solid $border-color;

    &__phone{
        font-size: 24px;
        font-weight: $font-weight-bold;
        line-height: 1;
        color: $white;

        &:hover, &:focus{
            text-decoration: none;
            color: $gold;
        }
    }
    &__link{
        font-size: 13px;
        color: $light-grey;
        @extend .text-spacing-50;
        margin-top: 5px;
        margin-bottom: $spacer/3;
    }

    &__btn{
        .btn_action__inside{
            padding: 12px 24px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        &__phone{
            font-size: 18px;
        }
        &__btn{
            font-size: 13px;
            margin-top: $spacer/4;
            .btn_action__inside{
                padding: 8px 16px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        &__btn{
            margin-top: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        &__phone{
            font-size: 24px;
        }
    }
}