.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    max-height: 110px;

    padding: $spacer/3 0;
    background: $body-color;
    border-bottom: 1px solid $border-color;

    &__phone{
        // font-size: 24px;
        font-size: map-get($map: $font-size, $key: xl);
        font-weight: $font-weight-bold;
        line-height: 1;
        color: $white;

        &:hover, &:focus{
            text-decoration: none;
            color: $gold;
        }
    }
    &__email{
        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bold;
        text-decoration: underline;

        margin-top: 8px;
    }
    &__link{
        font-size: 12px;
        letter-spacing: $letter-spacing;

        color: $light-grey;
        margin-top: 4px;

        &:hover, &:focus{
            color: $gold;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header{
        &__phone{
            font-size: map-get($map: $font-size, $key: lg);
        }
        &__email{
            font-size: map-get($map: $font-size, $key: xs);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
    }
}