.modal{
    width: 540px;
    max-width: 100%;
    display: none;
    background-color: $border-color;

    &.fancybox-content{
        background-color: $border-color;
        padding: map-get($spacers, 2);
    }

    &_partners{
        width: 720px;
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;

            height: 90px;

            background-color: $grey;
            padding: $spacer/3;
            margin-bottom: $spacer;
        }

        &.fancybox-content{
            padding-bottom: $spacer/2;
        }
    }
}