.logo{
    &_header{
        font-size: map-get($font-size, 'sm');
        font-weight: $font-weight-bold;
        line-height: 1.2;
        
        text-align: center;
        text-transform: uppercase;

        width: 210px;
        max-width: 100%;

        padding-top: 110px;

        background: url("../img/logo.png") no-repeat top center / 170px;

        &:hover, &:focus{
            text-decoration: none;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .logo{
        &_header{
            width: 210px;
            height: 50px;
            max-width: 100%;
    
            padding-top: 0;
    
            background: url("../img/logo-mobile.png") no-repeat center left / contain;
    
        }
        &__intro{
            display: none;
        }
    }
}