.logo{
    &_header{
        font-size: map-get($font-size, 'sm');
        font-weight: 800;
        line-height: 1.2;
        
        text-align: center;
        text-transform: uppercase;

        width: 210px;
        max-width: 100%;

        padding-top: 110px;

        background: url("../img/logo.png") no-repeat top center / 170px;

        &:hover, &:focus{
            text-decoration: none;
        }
    }
}