.logo{
    &__intro{
        font-size: map-get($map: $font-size, $key: xs);
        letter-spacing: $letter-spacing;
    }
    // Modificator
    &_header{
        font-size: map-get($font-size, 'sm');
        font-weight: $font-weight-bold;
        line-height: 1.2;
        
        text-align: center;
        text-transform: uppercase;

        width: 160px;
        max-width: 100%;

        padding-top: 75px;

        background: url("../img/logo.png") no-repeat top center / 115px;

        &:hover, &:focus{
            text-decoration: none;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .logo{
        &_header{
            background-size: 124px;
            height: 76px;
            padding: 0;
        }
        &__intro{
            display: none;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .logo{
        &_header{
            flex: 0 0 210px;
            max-width: calc(100% - 50px);
            width: 210px;
            height: 50px;
    
            padding-top: 0;
    
            background: url("../img/logo-mobile.png") no-repeat center left / contain;
    
        }
    }
}