.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: -5px;
    margin-right: -5px;

    &__item{
        display: flex;
        align-items: center;
        height: 75px;

        padding: 0 5px;
    }

    // Style Block
    &_figure{
        margin: 0;
        &__item{
            flex: 0 0 calc(100%/3);
            width: calc(100%/3);
            height: 100px;

            &:before{
                transition: .3s;
            }
            &:hover, &:focus{
                &:before{
                    background-color: $grey;
                }
            }
        }
        &__inside{
            position: relative;
            z-index: 11;
            width: 100%;
            height: 100%;
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(1) contrast(0);

            transition: .4s;
            &:hover, &:focus{
                filter: grayscale(0) contrast(1);
            }
        }
        &__line-break{
            flex: 0 0 calc(100%/3);
            width: calc(100%/3);
        }
    }
    &_preview{
        // flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;

        align-items: center;

        margin: 0;
        width: 100%;

        &__logo{
            max-height: 75px;
            filter: grayscale(1);
        }
    }

    &-container{
        overflow-x: auto;
        overflow-y: hidden;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .partners{
        &_preview{
            // width: 1040px;
            margin-bottom: $spacer/3;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .partners{
        &_figure{
            &__item{
                flex: 0 0 50%;
                width: 50%;
                height: 60px;
            }
            &__inside{
                background-size: 70px;
            }
            &__line-break{
                display: none;
            }
        }
    }
}