.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: -5px;
    margin-right: -5px;

    &__item{
        display: flex;
        align-items: center;
        height: 75px;

        padding: 0 5px;
    }

    &_figure{
        margin: 0;
        &__item{
            flex: 0 0 calc(100%/3);
            width: calc(100%/3);
            height: 100px;

            &:before{
                transition: .3s;
            }
            &:hover, &:focus{
                &:before{
                    background-color: $grey;
                }
            }
        }
        &__inside{
            position: relative;
            z-index: 11;
            width: 100%;
            height: 100%;
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(1) contrast(0);

            transition: .4s;
            &:hover, &:focus{
                filter: grayscale(0) contrast(1);
            }
        }
        &__line-break{
            flex: 0 0 calc(100%/3);
            width: calc(100%/3);
        }

        
    }

    &_preview{
        flex-wrap: nowrap;
    }
}