.preview_project{
    color: $white;
    background-color: $body-color;
    
    &__image{
        width: 100%;
        height: 140px;
        background: $grey no-repeat center / cover;

        margin-bottom: $spacer/2;
    }
    &__logo{
        width: 100%;
        height: 140px;
        background: $grey no-repeat center / 70px;

        margin-bottom: $spacer/2;
    }
    &__title{
        margin: 0;
        padding: 10px 20px 20px;
    }
    &__subinfo{
        padding: 0 10px 20px;
    }
}

a.preview_project{
    &:hover, &:focus{
        color: $gold;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_project{
        &__image{
            height: 100px;
        }
        &__logo{
            height: 100px;
            background-size: 60px;
        }
    }
}