.preview_product{
    padding: $spacer;
    background-color: $grey;
    color: $black;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__image{
        width: 100%;
        height: auto;

        background: no-repeat center / contain;
        transition: .3s;
    }

    &--link{
        &:hover, &:focus{
            .preview_product__image{
                opacity: 0.7;
            }
        }
    }
}