.preview_spares{
    padding: $spacer;
    background-color: $grey;
    color: $black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__image{
        height: 90px;
        width: 100%;

        background: no-repeat center / contain;
    }

    &--link{
        &:hover, &:focus{
            background-color: darken($color: $grey, $amount: 3);
            text-decoration: none;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview_spares{
        height: auto;
    }
}