.list_check{
    &__item{
        position: relative;
        padding-left: map-get($map: $spacers, $key: 1);
        margin-bottom: $spacer;
        &:before{
            content:'';
            display: block;
            width: 16px;
            height: 16px;
            background: url("../img/check-gold.svg") no-repeat center/contain;

            position: absolute;
            left: 0;
            top: 2px;              
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .list_check{
        &__item{
            margin-bottom: $spacer/2;
        }
    }
}