.nav_footer{
    &__title{
        color: $white;
        font-weight: $font-weight-bold;
        margin-bottom: map-get($map: $spacers, $key: 1);

        &:last-child{
            margin-bottom: 0;
        }
    }
    &__subtitle{
        color: $light-grey;
        font-size: 13px;
        font-weight: 300;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
}