.nav_header{
    display: flex;
    justify-content: center;

    flex-wrap: nowrap;

    &__item{
        position: relative;
        
        padding: 10px 20px 0;
        color: $white;

        font-size: map-get($font-size, 'md');

        &:hover, &:focus{
            color: $gold;
            text-decoration: none;
        }

        & + .nav_header__item--active{
            &:before{
                content: '';
                display: block;

                width: 6px;
                height: 6px;
                border-radius: 3px;

                position: absolute;
                top: calc(50% + 3px);
                left: -3px;
                background-color: $gold;
            }
        }
        &--active{
            color: $gold;
            & + .nav_header__item{
                &:before{
                    content: '';
                    display: block;

                    width: 6px;
                    height: 6px;
                    border-radius: 3px;

                    position: absolute;
                    top: calc(50% + 3px);
                    left: -3px;
                    background-color: $gold;
                }
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .nav_header{
        &__item{
            font-size: map-get($font-size, 'sm');
            padding: 8px 16px 0;
            & + .nav_header__item--active{
                &:before{
                    display: none;
                }
            }
            &--active{
                & + .nav_header__item{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .nav_header{
        flex-wrap: wrap;
        font-size: map-get($font-size, 'md');
        margin: $spacer 0;
        &__item{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 8px 0;
        }
    }
}