.page-nav{
    background: $border-color;
    padding: map-get($map: $spacers, $key: 1) 0;

    font-size: map-get($map: $font-size, $key: md);

    &__item{
        position: relative;
        color: $white;
        margin-right: map-get($map: $spacers, $key: 3);

        &:after{
            content:'';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $white;

            position: absolute;
            right: -(map-get($map: $spacers, $key: 1));
            top: calc( 50% - 3px);
        }
        &:last-child{
            margin-right: 0;
            &::after{
                display: none;
            }
        }

        &:hover, &:focus{
            color: $gold;
            text-decoration: none;
        }

        &_small{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .page-nav{
        padding: $spacer/2 0;
        font-size: map-get($map: $font-size, $key: sm);
        overflow-x: auto;
        .container{
            max-width: 9999px;
            display: flex;
            flex-wrap: nowrap;
        }
        &__item{
            white-space: nowrap;
            &:last-child{
                margin-right: $spacer/2;
            }
        }
    }
}