.page-nav{
    background: $border-color;
    padding: map-get($map: $spacers, $key: 1) 0;

    font-size: map-get($map: $font-size, $key: md);

    &__item{
        position: relative;
        color: $white;
        margin-right: map-get($map: $spacers, $key: 3);

        &:after{
            content:'';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $white;

            position: absolute;
            right: -(map-get($map: $spacers, $key: 1));
            top: calc( 50% - 3px);
        }
        &:last-child{
            margin-right: 0;
            &::after{
                display: none;
            }
        }

        &:hover, &:focus{
            color: $gold;
            text-decoration: none;
        }

        &_small{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}