.nav_secondary{
    display: flex;
    justify-content: center;

    flex-wrap: nowrap;

    &__item{
        position: relative;
        
        padding: 8px 20px;
        color: $light-grey;
        text-transform: uppercase;

        font-size: 15px;
        font-weight: 300;

        &:hover, &:focus{
            color: $white;
            text-decoration: none;
        }

        & + .nav_secondary__item{
            &:before{
                content: '';
                display: block;

                width: 1px;
                height: 16px;

                position: absolute;
                top: calc(50% - 8px);
                left: 0;
                opacity: .8;

                background-color: $light-grey;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .nav_secondary{
        &__item{
            font-size: map-get($font-size, 'sm');
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .nav_secondary{
        flex-wrap: wrap;

        &__item{
            flex: 0 0 100%;
            max-width: 100%;
            font-size: map-get($font-size, 'md');
            padding: 8px 0;
            & + .nav_secondary__item{
                &:before{
                    display: none;
                }
            }
        }
    }
}