.nav_secondary{
    display: flex;
    justify-content: center;

    flex-wrap: nowrap;

    &__item{
        position: relative;
        
        padding: 8px 20px;
        color: $light-grey;
        text-transform: uppercase;

        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-light;
        line-height: $line-height-heading;

        &:hover, &:focus{
            color: $white;
            text-decoration: none;
        }

        &--active{
            color: $gold;
            &:hover, &:focus{
                color: $gold;
            }
        }

        // Search Icon
        &[data-status=search]{
            text-transform: none;
            font-size: 0;
            background: url("../img/search.svg") no-repeat center/ 12px;
            filter: opacity(.7);
            transition: .3s;

            &:before{
                display: none;
            }

            &:hover, &:focus{
                filter: opacity(1);
            }
        }
    }

    .nav_secondary__item + .nav_secondary__item{
        &:before{
            content: '';
            display: block;

            width: 1px;
            height: 16px;

            position: absolute;
            top: calc(50% - 8px);
            left: 0;
            opacity: .8;

            background-color: $light-grey;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .nav_secondary{
        &__item{
            font-size: map-get($font-size, 'sm');
            padding: 8px 14px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .nav_secondary{
        flex-wrap: wrap;
        order:2;

        &__item{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 8px 0;

            &[data-status=search]{
                font-size: map-get($font-size, 'sm');
                padding-left: $spacer;
                background-position-x: left;
            }
        }
        .nav_secondary__item + .nav_secondary__item{
            &:before{
                display: none;
            }
        }
    }
}