$white                : #ffffff;
$black                : #191a1e;

$grey                 : #eeeeee;
$light-grey           : #c2c2c2;
$dark-grey            : #28282f;

$gold                 : #ece298;
$dark-gold            : #887145;

$border-color         : #28282f;
$body-color           : #191a1e;
$text-color           : #ffffff;

$link-color           : #ece298 !default;
$link-hover-color     : #887145 !default;
$link-decoration      : none !default;
$link-hover-decoration: underline !default;

$grid-columns         : 12 !default;
$grid-gutter-width    : 40px !default;

$grid-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1400px,
  xl: 1920px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1360px,
  hd: 1640px
) !default;

$font-family-base     : "Fira Sans",    "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo,            Monaco, Consolas,   "Liberation Mono",   "Courier New",    monospace !default;

$font-size-base  : 1rem;
$font-weight-base: 400;
$line-height-base: 1.4;

$font-size: (
  xs: 0,
  sm: 14px,
  md: 16px,
  lg: 16px,
  xl: 18px
) !default;
$font-weight        : 400;
$font-weight-heading: 700;
$font-weight-bold   : 700;
$line-height        : 1.6;
$line-height-heading: 1.2;

$dt-font-weight: $font-weight-bold !default;

$spacer : 30px!default;
$spacers: ()  !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: $spacer,           // 30px
    2: ($spacer * 1.5),   // 40px
    3: ($spacer * 2),     // 60px
    4: ($spacer * 3)      // 90px
  ),
  $spacers
);

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family  : null !default;
$headings-font-weight  : 500 !default;
$headings-line-height  : 1.2 !default;
$headings-color        : null !default;

$paragraph-margin-bottom: 40px !default;

$table-cell-padding   : 10px !default;
$table-cell-padding-sm: 6px !default;
$table-caption-color  : #242424 !default;

$label-margin-bottom: 10px;

$enable-grid-classes              : true !default;
$enable-pointer-cursor-for-buttons: true !default;

// Utilities

$displays : none,   inline,   inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto,   hidden !default;
$positions: static, relative, absolute,     fixed, sticky !default;


// Printing

$print-page-size     : a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;