.advantage{
    padding: $spacer;

    &__title{
        position: relative;
        z-index: 11;
        margin-top: 0;   
    }


    &-container{
        padding: 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .advantage{
        &__title{
            font-size: 1rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .advantage{
        &__title{
            font-weight: 400;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .advantage{
        padding: $spacer/2;

        &__title{
            font-weight: 700;
        }
        &-container{
            padding: 15px;
        }
    }
}