html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Spares Category

        link(href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        section.container.bg-lines.pt-4.pb-4.content-header
                .row
                    .col-6.col-md-12
                        p.subtitle Запчасти
                        h1.mt-0.mb-0 Полный список категорий запчастей, которые доступны для&nbsp;заказа 
                .row.justify-content-end.mt-3.mb-2.mt-md-1.mb-md-1
                    .col-3.col-md-4.col-xs-12.stats
                        p.stats__title 15% экономии
                        p.stats__content бюджета в&nbsp;среднем у&nbsp;наших клиентов
                    .col-3.col-md-4.col-xs-12.stats.mt-xs-1
                        p.stats__title 900 проектов
                        p.stats__content под&nbsp;ключ выполнено по&nbsp;России
                    .col-3.col-md-4.col-xs-12.stats.mt-xs-1
                        p.stats__title 3370&nbsp;лифтов
                        p.stats__content поставленно за&nbsp;16&nbsp;лет по&nbsp;всей&nbsp;России
                .row.justify-content-end
                    .col-3.col-md-12
                        a.btn.btn_link(href="#") Получить консультацию
                            svg.btn_link__arrow(width="24" height="24" viewBox="0 0 24.00 24.00")
                                path(fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 4,12L 16.25,12L 11,6.74994L 11.6643,6L 18.1642,12.5L 11.6642,19L 11,18.25L 16.25,13L 4,13L 4,12 Z ")
        section.container
            .row.pt-1.pb-1.pb-md-0
                .col-2.col-md-4.col-sm-6.col-xs-12.mb-md-1
                    a.preview.preview_spares.preview_spares--link(href="#")
                        p.preview__title.text-uppercase Буфера полиуретановые и&nbsp;пружины
                        .preview_spares__image(style="background-image: url('../demo/buf.png')")
                .col-2.col-md-4.col-sm-6.col-xs-12.mb-md-1
                    a.preview.preview_spares.preview_spares--link(href="#")
                        p.preview__title.text-uppercase Вводные устройства
                        .preview_spares__image.no-img(style="")
                .col-2.col-md-4.col-sm-6.col-xs-12.mb-md-1
                    a.preview.preview_spares.preview_spares--link(href="#")
                        p.preview__title.text-uppercase Выключатели
                        .preview_spares__image(style="background-image: url('../demo/turnon.png')")
                .col-2.col-md-4.col-sm-6.col-xs-12.mb-md-1
                    a.preview.preview_spares.preview_spares--link(href="#")
                        p.preview__title.text-uppercase Замки
                        .preview_spares__image.no-img(style="")
                .col-2.col-md-4.col-sm-6.col-xs-12.mb-md-1
                    a.preview.preview_spares.preview_spares--link(href="#")
                        p.preview__title.text-uppercase Преобразователи частоты
                        .preview_spares__image.no-img(style="")
                .col-2.col-md-4.col-sm-6.col-xs-12.mb-md-1
                    a.preview.preview_spares.preview_spares--link(href="#")
                        p.preview__title.text-uppercase Буфера полиуретановые и&nbsp;пружины
                        .preview_spares__image.no-img(style="")
            .pt-1.pb-3
                ul.pagination
                    li.pagination__item
                        a.pagination__link(href="?page=1") 1
                    li.pagination__item
                        span.pagination__active 2
                    li.pagination__item
                        a.pagination__link(href="?page=3") 3
                    li.pagination__item
                        a.pagination__link(href="?page=4") 4
        include chunks/footer.pug

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")